<?xml version="1.0" ?>
<!--
/**
 * ScandiPWA_SampleData
 *
 * @category    Scandiweb
 * @package     ScandiPWA_SampleData
 * @author      Vadims Petrovs <info@scandiweb.com>
 * @copyright   Copyright (c) 2020 Scandiweb, Ltd (https://scandiweb.com)
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:framework:Module/etc/module.xsd">
    <module name="ScandiPWA_SampleData" setup_version="1.0.0">
        <sequence>
            <module name="Magento_Cms" />
            <module name="Magento_Store" />
            <module name="Magento_Eav" />
            <module name="Magento_Catalog" />
            <module name="Magento_ConfigurableProduct" />
            <module name="ScandiPWA_MenuOrganizer" />
            <module name="Scandiweb_Slider" />
        </sequence>
    </module>
</config>
